<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRUG AI | Machine Learning Technologhy</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div style="height: 50px"></div>
        <div align="center" class="container">
            <h1>DRUG AI</h1>
            <h3>Built with machine learning in python</h3>
        </div>
        <div class="container">
            <form action="{{ url_for('predict')}}" method="POST" class="needs-validation">
                <div class="row">
                    <div class="col">
                        <label for="age"><strong>Age</strong></label>
                        <input class="form-control" type="text" name="age" placeholder="Age" autocomplete='off' required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="sex"><strong>Sex</strong></label>
                        <p>0 = Woman, 1 = Man</p>
                        <input class="form-control" type="text" name="sex" placeholder="Sex" autocomplete='off' required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="bp"><strong>Blood Pressure</strong></label>
                        <p>0 = High, 1 = Low, 2 = Normal</p>
                        <input class="form-control" type="text" name="bp" placeholder="Blood Pressure" autocomplete='off' required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="chol"><strong>Cholesterol</strong></label>
                        <p>0 = High, 1 = Normal</p>
                        <input class="form-control" type="text" name="chol" placeholder="Cholesterol" autocomplete='off' required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="natok"><strong>Na to Potassium Ration</strong></label>
                        <input class="form-control" type="text" name="natok" placeholder="Na to Potassium Ration" autocomplete='off' required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block">Submit Data</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="height: 30px"></div>
        <div class="container">
            <div class="row">
                <div class="col" align="center">
                    <strong>{{ message }}</strong>
                    <p>{{ prediction_text }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
